<h2>Checkout</h2>
<a href="/products/1">All Products</a>
<% include ./partials/messages %> <% if (cart) { %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Product Title</th>
      <th scope="col">Qty</th>
      <th>Price</th>
      <th>BarCode</th>
      <th></th>
      <th>Sub Total</th>
    </tr>
  </thead>
  <tbody>
    <% var total = 0; %> <% cart.forEach(function(c){ let subTotal = c.qty *
    c.price; %><% total += subTotal %>

    <tr>
      <td><%= c.title %></td>
      <td><%= c.qty %></td>
      <td><%= c.price %></td>
      <td><%= c.barCode %></td>
      <td>
        <a href="/cart/update/<%= c.id %>?action=add">+</a>&nbsp;
        <a href="/cart/update/<%= c.id %>?action=delete">-</a>&nbsp;
        <a href="/cart/update/<%= c.id %>?action=clear">clear</a>&nbsp;
      </td>
      <td><%= subTotal %></td>
    </tr>
    <% }) %>
    <tr>
      <td><strong>Total: N <%= total %> naira</strong></td>
    </tr>
    <tr>
      <td><a href="/clearcart">Clear cart</a></td>
      <td><a href="#">Buy Now</a></td>
    </tr>
  </tbody>
</table>

<% } else { %>
<p>No Products in the cart, add products</p>
<%}%>
