<% include ./partials/top-bar %>

<div class="container-fluid">
  <div class="row">
    <% include ./partials/side-bar %>

    <!-- content area -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="content">
        <% include ./partials/messages %>

        <h2>Invoice</h2>
        <table class="table">
          <thead>
            <tr>
              <th>Invoice Number</th>
              <th>User Name</th>
              <th>Total Amount</th>
              <th>Choice of Payment</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>#<%= order.invoiceNumber.toUpperCase() %></td>
              <td><%= order.userName %></td>
              <td><%= order.totalAmount %></td>
              <td><%= order.paymentChoice %></td>
            </tr>
          </tbody>
        </table>

        <% if (order.paymentChoice === 'bankPayment') { %>
        <h3>Bank Details</h3>
        <p>
          <strong>Bank:</strong> Diamond Bank <br />
          <strong>Account Number:</strong> 0045782939 <br />
          <strong>Account Name:</strong> Pets Mart Nigeria
        </p>

        <%} else { %>
        <h5>Please Pay with your Credit Card</h5>
        <form>
          <script src="https://js.paystack.co/v1/inline.js"></script>
          <button
            class="btn btn-success"
            type="button"
            onclick="payWithPaystack()"
          >
            Pay With Paystack
          </button>
        </form>

        <%} %> <% var amount = order.totalAmount * 100 %>

        <a class="btn btn-primary" href="/products/1">Back to Products</a>
        <a class="btn btn-success" href="/dashboard">Back to Profile</a>
      </div>
    </main>
    <!-- end of content area -->
  </div>
</div>

<!-- place below the html form -->
<script>
  function payWithPaystack() {
    var handler = PaystackPop.setup({
      key: "pk_test_88562c3403ead900f98870a7797b5a73618eaa34",
      email: "<%= user.email %>",
      amount: "<%= amount %>",
      ref: "" + Math.floor(Math.random() * 1000000000 + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
      metadata: {
        custom_fields: [
          {
            display_name: "Mobile Number",
            variable_name: "mobile_number",
            value: "+2348012345678"
          }
        ]
      },
      callback: function(response) {
        alert("success. transaction ref is " + response.reference);
        window.location = "http://localhost:5000/thank-you";
      },
      onClose: function() {
        alert("window closed");
      }
    });
    handler.openIframe();
  }
</script>
