<h1>List of all Products</h1>

<% include ./partials/messages %>

<h2>Categories</h2>
<ul>
  <li><a href="/products/1">All</a></li>
  <% cats.forEach(cat => { %>
  <li><a href="/cat/<%= cat.title %>"><%= cat.title %></a></li>
  <% }) %>
</ul>

<h2><a href="/">Add a Product</a></h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">IMG</th>
      <th scope="col">Product Title</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% products.forEach(function(p){ %>
    <tr>
      <td><img src="#" /></td>
      <td><a href="/product-detail/<%= p._id %>"><%= p.productTitle %></a></td>
      <td><%= p.priceWholesale %></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<% if (pages > 0) { %>
<ul class="pagination text-center">
  <% if (current == 1) { %>
  <li class="disabled"><a>First</a></li>
  <% } else { %>
  <li><a href="/products/1">First</a></li>
  <% } %> <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %> <% if (i
  !== 1) { %>
  <li class="disabled"><a>...</a></li>
  <% } %> <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %> <% if (i
  == current) { %>
  <li class="active"><a><%= i %></a></li>
  <% } else { %>
  <li><a href="/products/<%= i %>"><%= i %></a></li>
  <% } %> <% if (i == Number(current) + 4 && i < pages) { %>
  <li class="disabled"><a>...</a></li>
  <% } %> <% } %> <% if (current == pages) { %>
  <li class="disabled"><a>Last</a></li>
  <% } else { %>
  <li><a href="/products/<%= pages %>">Last</a></li>
  <% } %>
</ul>
<% } %>
