<a href="/products/1">Back to all Products</a>
<h1>Single Product</h1>
<% include ./partials/messages %>
<h2><%= product.productTitle %></h2>
<p><%= product.productDesc %></p>

<h5><%= product.priceWholesale %></h5>

<a href="/cart/<%= product._id %>">Add to Cart</a> <br />

<a href="/product-detail/edit/<%= product._id %>">Edit Product</a>
