<% include ./partials/top-bar %>

<div class="container-fluid">
  <div class="row">
    <% include ./partials/side-bar %>

    <!-- content area -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="content">
        <% include ./partials/messages %>
        <span>
          <a class="btn btn-primary" href="/products/1">Back to all Products</a>
        </span>

        <div class="row product_detail mt-2">
          <div class="product_cover col-md-6">
            <% if (product.imgUrl) { %>
            <img src="<%= product.imgUrl %>" />
            <% } else { %>
            <img src="https://place-hold.it/450x450" />
            <% } %>
          </div>

          <div class="col-md-6">
            <h3><%= product.productTitle %></h3>

            <h4>Product Details</h4>
            <p><%= product.productDesc %></p>
            <h5>N<%= product.priceWholesale %></h5>
            <p><strong>BarCode:</strong> <%= product.barCode %></p>
            <div class="cart">
              <a href="/cart/<%= product._id %>">Add to Cart</a>
              <% if(user.admin == true ) { %>
              <a href="/product-detail/edit/<%= product._id %>">Edit Product</a>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- end of content area -->
  </div>
</div>
